---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@font-face {
  font-family: Garamond;
  src: url("../fonts/Cormorant-Regular.otf") format("opentype");
}

$link-color: red;
$background-color: #F9FFD5;
$header-color: #043F01;

h3 {
  color: $header-color;
}

$intro-transition  : none;
$global-transition : none;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__hero--overlay {
  background-position: right;
  background-size: auto;
  color: $header-color;
  font-family: Garamond;
  text-shadow: none;
  font-weight: normal;
}

.page__hero--overlay .page__title {
  font-size: 2em;
}

.page__hero--overlay .page__lead {
  font-size: 1em;
}

.page__footer {
  background-color: $background-color;
}